* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #004080;
  color: #ffffff;
}

header h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

header nav a {
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

header nav a.active {
  text-decoration: underline;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #7c7c7c;
  color: #ffffff;
}

button.cancel,
.messages dialog .error {
  background-color: #c46663;
  color: #ffffff;
}

button.accept,
.messages dialog .success {
  background-color: #58a258;
  color: #ffffff;
}

label, input, select {
  font-size: 1rem;
}

input {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px 10px;
}

dialog {
  border: none;
  border-radius: 4px;
}

.messages {
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messages dialog {
  position: relative;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  opacity: 0.8;
}

.messages dialog:hover {
  opacity: 1.0;
}

.messages dialog form {
  display: flex;
}

.messages dialog button {
  width: 150px;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages dialog .info {
  background-color: #7c7c7c;
}

.messages dialog .warning {
  background-color: #e3bd62;
  color: #000000;
}

main {
  flex: 1;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
  scrollbar-color: #000000 #f2f2f2;
}

section.product-pane {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  padding: 10px;
  padding-bottom: 150px;
  overflow-y: scroll;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.categories button {
  background-color: #cccccc;
  color: #000000;
  font-size: 0.8rem;
}

.categories button.active {
  background-color: #44a4d5;
  color: #ffffff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product {
  flex: 1;
  min-width: 150px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
}

.product img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.product-name {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-weight: bold;
  color: #333333;
}

section.order-pane {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  padding: 10px;
  overflow-y: auto;
  background-color: #ffffff;
  border-left: 1px solid #cccccc;
}

.orders {
  flex: 1;
  border-collapse: collapse;
}

.orders th, .orders td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}

.order-total {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
}

.actions {
  display: flex;
  justify-content: space-between;
}

footer.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px;
  font-size: 0.7rem;
  border-top: 1px solid #cccccc;
  background-color: #f2f2f2;
  color: #7c7c7c;
}

section.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
  padding: 100px;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login button {
  margin-top: 10px;
  align-self: center;
}

#payment-dialog:open::backdrop {
  background-color: rgb(0 0 0 / 30%);
}

#payment-dialog h2 {
  margin-bottom: 10px;
}

#payment-dialog input,
#payment-dialog select {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

#payment-dialog button {
  font-weight: bold;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
