{% extends 'base.html' %}

{% block title %}PDV{% endblock title %}

{% block content %}
<main class="order-view">

<section class="product-pane">
  <div class="categories">
    <button id="all-products-category" class="active" onclick="filterProducts('all')">
      Todos
    </button>
    {% for cat in product_categories %}
    <button onclick="filterProducts('{{ cat.id }}')">{{ cat.name }}</button>
    {% endfor %}
  </div>

  <div class="products">
    {% for prod in products %}
    <div class="product" onclick="addProduct('{{ prod.id }}')"
        data-id="{{ prod.id }}"
        data-category="{{ prod.category.id }}"
        title="{{ prod.id }} - {{ prod.name }} ({{ prod.category }})">
      <img{% if prod.image %} src="{{ prod.image.url }}"
      {% else %} src="/media/default-product.png"
      {% endif %}    alt="[{{ prod.name }}]">
      <div class="product-name">{{ prod.name }}</div>
      <div class="product-price">R$ {{ prod.price }}</div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="order-pane" id="content">
  <div class="product-select">
    <div>
      <input type="text" id="search-products" placeholder="Nome ou ID..."
          onkeyup="searchProducts()">
      <button title="Leitor código barras" class="icon"
          onclick="alert('Sem suporte no momento!')">
        <svg>
          <rect x="0"  y="2" width="2" height="21" fill="black"/>
          <rect x="4"  y="2" width="3" height="21" fill="black"/>
          <rect x="11" y="2" width="2" height="21" fill="black"/>
          <rect x="16" y="2" width="5" height="21" fill="black"/>
          <rect x="23" y="2" width="2" height="21" fill="black"/>
        </svg>
      </button>
    </div>

    &times;

    <div>
      <input type="text" id="product-quantity" placeholder="Qtde"
          maxlength=4
          onkeyup="searchProducts()">
      <button title="Medir peso" class="icon"
          onclick="alert('Sem suporte no momento!')">
        ⚖️
      </button>
    </div>

    <button title="Adicionar produto" class="accept"
        onclick="addProductWithSearch()">
      ✔
    </button>
  </div>

  <div class="sheet">
    <table>
      <thead>
        <tr>
          <th class="numeric">#</th>
          <th>Produto</th>
          <th class="numeric">Qtde</th>
          <th class="numeric">Unitário</th>
          <th class="numeric">Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.products.all %}
        <tr title="{{ item.product.id }} - {{ item.product.name }} ({{ item.product.category }})">
          <td class="numeric">{{ forloop.counter }}</td>
          <td>{{ item.product.name }}</td>
          <td class="numeric">{{ item.quantity }}</td>
          <td class="numeric">R$ {{ item.product.price }}</td>
          <td class="numeric">R$ {{ item.subtotal }}</td>
          <td>
            <button title="Remover produto" type="button"
                onclick="removeProduct('{{ item.id }}')">❌</button>
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="6">Nenhum item no pedido</td></tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div class="total">
    Valor Total: R$ {{ order.total|default:'0,00' }}
  </div>

  <div class="actions">
    <button class="cancel" onclick="cancelOrder()">Cancelar</button>
    <button class="accept" onclick="showPayment()">Receber e Finalizar</button>
  </div>
</section>

</main>

<footer class="order">
  <span>
    Caixa: {{ cashier.name }}
  </span>

  &vert;

  <span>
  {% if order %}
    Pedido: {{ order.id }}
  {% else %}
    Nenhum pedido
  {% endif %}
  </span>
</footer>

<dialog id="payment-dialog" class="order-view">
  <h2>Pagamento</h2>

  <div class="sheet">
    <table>
      <thead>
        <tr>
          <th class="numeric">#</th>
          <th>Método</th>
          <th class="numeric">Valor</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in order.payments.all %}
        <tr>
          <td class="numeric">{{ forloop.counter }}</td>
          <td>{{ payment.get_method_display }}</td>
          <td class="numeric">R$ {{ payment.amount }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">Nenhum pagamento registrado</td></tr>
        {% endfor %}
        <tr><td class="none" colspan="3"></td></tr>
      </tbody>
    </table>
  </div>

  <form method="POST">
    {% csrf_token %}
    {{ add_payment_form.method }}
    <input type="text" name="amount" placeholder="Valor" required>
    <button type="submit" name="action" value="add_payment" class="accept">Adicionar Pagamento</button>
    <button type="button" class="cancel" onclick="hidePayment()">Fechar</button>
  </form>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" name="action" value="finish_order" class="finish">Finalizar</button>
  </form>
</dialog>

<script>
function filterProducts(categoryId, newActive=event.target) {
  const buttons = document.querySelectorAll('.product-pane .categories button');
  buttons.forEach(btn => btn.classList.remove('active'));
  newActive.classList.add('active');

  const products = document.querySelectorAll('.product-pane .product');
  products.forEach(p => {
    if (categoryId === 'all' || categoryId === p.dataset.category) {
      p.style.display = 'flex';
    } else {
      p.style.display = 'none';
    }
  });
}

function searchProducts() {
  const query = document.getElementById('search-products').value.toLowerCase();
  const products = document.querySelectorAll('.product-pane .product');

  filterProducts('all', document.getElementById('all-products-category'));

  if (!query) {
    products.forEach(p => p.style.display = 'flex');
    return;
  }

  const firstChar = query.charAt(0);
  if (!isNaN(firstChar)) {
    products.forEach(p =>
      p.style.display = (query === p.dataset.id) ? 'flex' : 'none'
    );
  } else {
    products.forEach(p => {
      const name = p.querySelector('.product-name').innerText.toLowerCase();
      p.style.display = name.includes(query) ? 'flex' : 'none';
    });
  }
}

function addProduct(productId, quantity) {
  if (!quantity)
    quantity = prompt("Quantidade:");
  if (quantity === null)
    return;
  quantity = quantity >= 1 ? quantity : 1;
  const form = document.createElement('form');
  form.method = 'POST';
  form.style.display = 'none';
  form.innerHTML = '{% csrf_token %}' +
                   '<input type="hidden" name="product" value="' + productId + '">' +
                   '<input type="hidden" name="quantity" value="' + quantity + '">' +
                   '<input type="hidden" name="action" value="add_product">';
  document.body.appendChild(form);
  form.submit();
}

function addProductWithQuantity(productId) {
  const quantity = document.getElementById('product-quantity').value;
  addProduct(productId, quantity);
}

function addProductWithSearch() {
  const visibleProducts = Array.from(document.querySelectorAll('.product-pane .product'))
      .filter(p => p.style.display !== 'none');
  if (visibleProducts.length === 1) {
    const productId = visibleProducts[0].dataset.id;
    addProductWithQuantity(productId);
  }
}

document.getElementById('search-products').addEventListener('keydown', (e) => {
  if (e.key === 'Enter') {
    addProductWithSearch();
  }
});

document.getElementById('product-quantity').addEventListener('keydown', (e) => {
  if (e.key === 'Enter') {
    addProductWithSearch();
  }
});

const paymentDialog = document.getElementById('payment-dialog');
paymentDialog.addEventListener('click', (e) => {
  if (e.target === paymentDialog) {
    paymentDialog.close();
  }
});

function removeProduct(productId) {
  if (confirm('Remover este item do pedido?')) {
    const form = document.createElement('form');
    form.method = 'POST';
    form.style.display = 'none';
    form.innerHTML = '{% csrf_token %}' +
                     '<input type="hidden" name="item_id" value="' + productId + '">' +
                     '<input type="hidden" name="quantity" value="0">' +
                     '<input type="hidden" name="action" value="update_quantity">';
    document.body.appendChild(form);
    form.submit();
  }
}

function cancelOrder() {
  if(confirm('Deseja realmente cancelar o pedido?')) {
    const form = document.createElement('form');
    form.method = 'POST';
    form.style.display = 'none';
    form.innerHTML = '{% csrf_token %}' +
                     '<input type="hidden" name="action" value="cancel_order">';
    document.body.appendChild(form);
    form.submit();
  }
}

function showPayment() {
  document.getElementById('payment-dialog').showModal();
}

function hidePayment() {
  document.getElementById('payment-dialog').close();
}

{% if request.session.last_action == 'add_payment' %}
showPayment()
{% endif %}
</script>
{% endblock content %}
